
body{
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: medium;
    background-color: darkslategray;
        

}

    
/* Navigation Styling */
nav {
        
    background-color: rgb(29, 24, 23);
    position:fixed;
    width: 100%;
    padding: 20px;
    top:0;
    left:0;
    z-index:1000 ;
        
}

nav ul {
    list-style: none; 
    padding: 0; 
    margin: 0;
    display:flex ;
    justify-content: center;
    gap: 4rem;
    font-size: 20px;
}

nav li {
    margin: 0;



}

nav a {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: medium;
    color:white ;
    text-decoration: solid;
    padding: 2rem;
    margin-top: 2rem;
    position: relative;
}

nav a:hover {
    color:darkslategray;
    
        
}


/* Main Content Styling */
header {
    display:flex;
    flex-direction:column;
    justify-content: center;
    text-align: center;
    height:100vh;
    width:100vw; 
    color: aliceblue;
    
    margin-top: 1rem;
    padding: 3rem;
    background-image:url(heating.jpg) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   



}

header::before {
    content:"";
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 0;
}

 header h1,h2,button {
    z-index: 1000;
 }



button {
    color: aliceblue;
    text-transform: uppercase;
    position: relative;
    border:3px solid transparent;
    background-color:black;
    font-size: 18px;
    outline: none;
    border-radius: 3px;
    margin: 0 10px;
    padding:23px 33px;
    
    
}

button:hover {
    color:darkslategray;


}

section {
    text-align: center;
    border: 5px solid black;
    padding: 3rem;


}

.chapter-section {
    text-align: center;
}


 

